<section class="page-section" id="advantage">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">优势</h2>
        <h3 class="section-subheading text-muted">有点科技云视AI系统优点</h3>
      </div>
    </div>
  
    <div class="row text-center">
      <div class="col-md-3">
        <h4 class="service-heading">①天眼替代人眼</h4>
        <div class="text-warning">24小时无休检测</div>
        <p>支持对话、语音播报、自动报警等多种型号摄像头。</p>
      </div>
      <div class="col-md-3">
        <h4 class="service-heading">②安全隐患智能识别</h4>
        <div class="text-warning">告警短信秒达上级</div>
        <p>基础版本包含安全帽检测、火灾检测、离岗检测、手机检测等功能，并可以实时推动预警短信。</p>
      </div>
      <div class="col-md-3">
        <h4 class="service-heading">③数据分析一屏掌控</h4>
        <div class="text-warning">减少人工统计烦恼</div>
        <p>一屏统揽工厂整体情况，进行历史维度分析，优化管理和安全监管措施。</p>
      </div>
      <div class="col-md-3">
        <h4 class="service-heading">④操作简便</h4>
        <div class="text-warning">一看就会，满足不同需求</div>
        <p>工程师远程或上门调试，边缘端部署后即可上线。针对不同企业需求，可扩展更多功能。</p>
      </div>
    </div>
  
  </div>
</section>